<div class="flex flex-col gap-y-1 py-4 text-gray-500">
    {{ if .Params.date -}}
    <span class="italic">
        {{ .Params.date.Format "Jan 2, 2006" }}
        {{ if not (eq .Params.lastmod .Params.date) -}}
        &bull;
        edited: {{ .Params.lastmod.Format "January 2, 2006" }}
        {{- end }}
    </span>
    {{- end }}
    {{ if (eq .Section "posts") -}}
    <div class="flex gap-x-1 italic">
        {{ partial "icons.html" "clock" }}
        {{ .ReadingTime }} min{{ if not (eq .ReadingTime 1) }}s{{ end }}
    </div>
    {{- end }}
</div>
