<div class="px-6 md:px-12 py-6 space-y-1">
    <a href="{{ .url }}">{{ .name }}</a>
    <div class="text-gray-500 italic">
        {{- .description -}}
    </div>
    <div class="flex gap-x-2">
        <span>
            {{ with site.Params.projectsPhrase }}
            {{ . }}:
            {{ else }}
            technologies:
            {{ end }}
        </span>
        <div class="flex flex-row flex-wrap gap-x-2">
            {{ range .technologies -}}
            <div>
                <span class="border rounded-md p-1">{{ . }}</span>
            </div>
            {{- end }}
        </div>
    </div>
</div>
