{{- $hash := .Get "email" | lower | md5 -}}
{{- $size := "128" -}}
{{ with .Get "size" -}}
{{- $size = . -}}
{{- end }}
<div class="flex gap-x-4 justify-center items-center">
    {{ with .Get "link" -}}
    <a href={{ . }}>
    {{- else -}}
    <a>
    {{- end }}
        <img src="https://www.gravatar.com/avatar/{{ $hash }}?s={{ $size }}" />
    </a>
    <div class="flex flex-col gap-y-2">
        {{ with .Inner -}}
        <span>{{ . | markdownify }}</span>
        {{- end }}
        <div class="flex gap-x-2">
            {{ with .Get "github" -}}
            <a href={{ . }}>
            {{ partial "icons.html" "github" }}
            </a>
            {{- end }}
            {{ with .Get "twitter" -}}
            <a href={{ . }}>
            {{ partial "icons.html" "twitter" }}
            </a>
            {{- end }}
            {{ with .Get "mailto" -}}
            <a href={{ . }}>
            {{ partial "icons.html" "email" }}
            </a>
            {{- end }}
        </div>
    </div>
</div>
